doctype html
html
  head
    meta(charset='utf-8')
    title PET - The Game
    link(rel='stylesheet' href='./style.css')

  body
    pre#stats
    #title
      h1#ttl PET
      h3#subttl PRESS "Q" TO START

    pre#help Need help? 
      a(href='https://github.com/molarmanful/petproject/blob/master/README.md' target='_blank') READ ME.
    script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/addons/p5.sound.min.js')
    script(src='./pet.js')
    script(src='./main.js')
